{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="site_media/js/examenes.js"></script>
{% endblock %}

{% block left %}
<div class="sidebarbox">
    <div class="sidebarheader">
        <a href="#">Navigation</a>
    </div><!-- sidebarheader -->
    <div class="sidebarcontent">
        <ul>
            <li><a href="{% url archivos.views.index %}">Buscar examen</a></li>
            <li><a href="{% url archivos.views.add %}">Añadir</a></li>
        </ul>
    </div>
</div>
{% endblock %}