<div id="nav">
    <ul>
        <li class="firstnav"><a href="#"><img src="/site_media/imagenes/box.png" alt="" border="0"><span>button name</span></a></li>
        <li><a href="#"><img src="/site_media/imagenes/photo.png" alt="" border="0"><span>button name</span></a></li>
        <li><a href="#"><img src="/site_media/imagenes/calender.png" alt="" border="0"><span>button name</span></a></li>
        <li><a href="#"><img src="/site_media/imagenes/comment.png" alt="" border="0"><span>button name</span></a></li>
        <li><a href="#"><img src="/site_media/imagenes/lock.png" alt="" border="0"><span>button name</span></a></li>
        <li class="lastnav"><a href="#"><img src="/site_media/imagenes/settings.png" alt="" border="0"><span>button name</span></a></li>
    </ul>
</div><!-- nav -->